/*# sourceURL=css/main.css */
/*@ sourceURL=css/main.css */
/*@ sourceURL=css/main.css */


body{
    cursor: none;
}

.menu{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 909990;
}

.menu a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.menu .hover{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 1s;
    width: 0;
}

.menu:hover .hover{
    width: 100%
}

/*----------메뉴-----------*/



#menu{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

#menu .close{
    position: absolute;
    right: 70px;
    top: 32px;
    z-index: 1000;
    border: none;
    background: transparent;
    outline:none;
    cursor: pointer;
}

#menu.on{
    opacity: 1;
    z-index: 99999;
}
#menu > div{
    flex: 1;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #b8aea1;
    box-sizing: border-box;
    transform: translateY(100px);
    opacity: 0;
}


#menu > div > a{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}




#menu .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    z-index: 100;
}




#menu > div:hover .text{
    filter: invert(100%) grayscale(100%) brightness(100);
}


#menu .af{
    transform: translateY(30px);
    opacity: 0;
    transition: all .5s;
}

#menu .af img{
    transform: translateY(-100px);
}

#menu > div:hover .af{
    transform: translateY(0);
    opacity: 1;
}

#flag{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}


#flag .top{
    width: 15px;
    height: 11px;
    margin-bottom: 4px;
    /*transition:all .5s;*/
}

#flag .top .deep{
    width: 15px;
    height: 11px;
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/cur_top.png")no-repeat center;
    transition:all .5s cubic-bezier(0.88, 0.01, 0.17, 1.01);
}


#flag .circle{
    width: 28px;
    height: 28px;
    position: relative;
    /*transition:all .5s;*/
}

#flag .circle .dot{
    width: 28px;
    height: 28px;
    border: #1a1a1a 1px solid;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -14px 0 0 -14px;
}


#flag .circle .discover{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -27.5px;
    transform:translateY(10px);
    opacity: 0;

}
#logo{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

#logo.opacity{
    opacity: 1;
    transition: all 1.2s;
}

#logo.opacity.on{
    top: 30px;
    transform: translate(-50%,0);
    transition:all 1.5s cubic-bezier(1,-0.18, 0.25, 1);
}

#section01{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section01 .inner{
    width: 1860px;
    /*height: 0;*/
    height: 83vh;
    background: white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow:hidden;
    /*transition:all 1s;*/
}



#slider{
    width: 1300px;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background: white;
    overflow:hidden;
    transition:all 1.5s cubic-bezier(1,-0.18, 0.25, 1);
}

#slider.full{
    transform:translate(-50%,-50%)scale(1.5);
}

#slider .slick-slide{
    margin: 30px 0;
    outline:none;
}

#slider .slick-track{
    top: 55px;
}


#slider .slick-dots{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999;
}


#main_title{
    width: 1500px;
    height: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /*background: orange;*/
}

/*#main_title.on{*/
/*    pointer-events: initial;*/
/*}*/

/*#main_title a{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 10000;*/
/*}*/


#main_title > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

#main_title > div.on{
    opacity: 1;
    z-index: 1;
    /*pointer-events: initial;*/
}

#main_title > div .line{
    /*width: 0;*/
    transition:all 1s;
    transform:scaleX(0);
    overflow:hidden;
    position: relative;
    top: -5px;
    width: 100%;
    height: 2px;
    background: #ffdcd1;
    opacity: 0.8;
}

#main_title > div.on .line{
    transform:scaleX(1);
}

#main_title > div.on .top > img{
    transform:translateY(0);
}

#main_title > div.on .middle > div > img{
    transform:translateY(0);
}

#main_title > div.on .bottom > img{
    transform:translateY(0);
}


#main_title .top > img{
    transform:translateY(150%);
    transition:all 0.8s;
}

#main_title .middle{
    display: flex;
    margin-bottom: 40px;
}

#main_title .middle > div{
    overflow:hidden;
}

#main_title .middle > div > img{
    transform:translateY(150%);
    transition:all 1s;
}

#main_title .bottom{
    overflow:hidden;
}

#main_title .bottom > img{
    transform:translateY(-150%);
    transition:all 1s;
}

#main_title .top > img{transition-delay:0.4s}
#main_title .middle > div:nth-child(1) img{transition-delay:0.6s}
#main_title .middle > div:nth-child(2) img{transition-delay:0.8s}
#main_title .middle > div:nth-child(3) img{transition-delay:1s}
#main_title .middle > div:nth-child(4) img{transition-delay:1.2s}
#main_title .bottom > img{transition-delay: 1.2s}


#main_title > div > div{
    display: flex;
    justify-content: center;
}


#main_title .top{
    overflow: hidden;
    justify-content: left;
    margin-bottom: 35px;
}

#main_title .middle{
    justify-content: space-between;
}


#main_title .bottom{
    position: relative;
    top: -40px;
}



#main_title .muse{
    /*width: 1250px;*/
}

#main_title .muse .middle{
    width: 1190px;
}

#main_title .muse .middle > div:nth-child(3){
    margin-top: 41px;
}

#main_title .muse .line{
    margin-top: -40px;
}

#main_title .faerie .middle{
    width: 1077px;
}

#main_title .gardener .middle{
    width: 1374px;
}

#main_title .oracle .middle{
    width: 1089px;
}

#main_title .queen .middle{
    width: 1527px;
}


#main_title .queen .line{
    top: -13px;
}

#main_title .queen .bottom{
    top: -50px;
}



.slick-dots{
    display: none !important;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
}

#slider .slick-dots > li{

}

#slider .slick-dots > li > button{

}


#sub_title{
    width: 200px;
    height: 650px;
    position: absolute;
    left: 84px;
    bottom: 140px;
    /*background: lightpink;*/
    overflow: hidden;
    transform: translateX(0);
    opacity: 0;
    transition: opacity 1.2s ease;
    pointer-events: none;
}


#sub_title .sub_inner{
    width: 200px;
    height: 650px;
    transform: translateX(-100%);
    transition: transform 1.2s cubic-bezier(1, -0.10, 0.25, 1) 0.14s;
}

#sub_title.on{
    opacity: 1;
}

#sub_title.on .sub_inner{
    transform:translateX(0);
}


/*#sub_title .sub_inner > div{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    !*opacity: 0;*!*/
/*    !*z-index: -1;*!*/
/*    transform: translateY(100%);*/
/*    transition:all 1s;*/

/*}*/

/*#sub_title .sub_inner > div.on{*/
/*    opacity: 1;*/
/*    z-index: 1;*/
/*    transform: translateY(0);*/
/*    transition:all 1s;*/
/*    !*transition:all 1.4s 1.2s;*!*/

/*}*/


/*#sub_title .sub_inner > div.off{*/
/*    transform: translateY(-100%);*/
/*    transition:all 1s;*/
/*}*/



#nav{
    width: 10px;
    height: 230px;
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/nav_line.png")no-repeat center;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}


#nav.on{
    opacity: 1;
    transition: all 1s 1s;
}


#nav > li{
    width: 9px;
    height: 9px;
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/nav_off.png")no-repeat center;
    cursor: pointer;
}

#nav > li.on{
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/nav_on.png")no-repeat center;
}


#section01 .inner .last{
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translate(-50%,-100%);
    transition: all 0.8s;
    opacity: 0;
}

#section01 .inner .last.on{
    opacity: 1;
    transform: translate(-50%,0);
    transition: all 0.8s 6.8s;
    }


#scroll {
    width: 12px;
    height: 209px;
    position: absolute;
    right: 47px;
    bottom: 0;
}



#scroll > div {
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s 7.2s;
    overflow: hidden;
}



#scroll > div.on{
    height: 209px;
}


/*#scroll > div{*/
/*    width: 12px;*/
/*    height: 209px;*/
/*    transform: scaleY(0);*/
/*    transform-origin: center top;*/
/*    !*background: red;*!*/
/*}*/

/*#scroll.on > div{*/
/*    transform: scaleY(1);*/
/*    transition: all 0.8s;*/
/*}*/


#sns{
    position: absolute;
    left: 80px;
    bottom: 20px;
    display: flex;
    transform: translateY(-210%);
    opacity: 0;
    z-index: -1;
}

#sns.on{
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
    transition: all 1s 7.2s;
}

#sns > div:nth-child(2){
    position: relative;
    top: -2px;
}

#sns > div{
    margin-right: 30px;
}


#scroll_2{
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/scroll_2.png")no-repeat center;
    width: 19px;
    height: 164px;
    position: absolute;
    right: 73px;
    bottom: 0;
    opacity: 0;
}

#scroll_2.on{
    opacity: 1;
    transition: all 1s 1s;
}


#scroll_2 > div{
    width: 7px;
    height: 7px;
    margin: 4px auto;
    animation: scroll_move cubic-bezier(0.47, 0.06, 0.46, 1.08) 1.3s alternate infinite;
}


@keyframes scroll_move {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0,4px);
    }
}